<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<rss version="2.0">
  <channel>
    <title>ShopLocalRaleigh Events</title>
    <link>https://shoplocalraleigh.org/events/</link>
    <description>Events from ShopLocalRaleigh</description>
    <language>en-us</language>
    <lastBuildDate>Tue, 23 Dec 2025 17:44:23 -0500</lastBuildDate>
    <item>
      <title>Business Owners Meetup (Cary, NC) (Dec 16, 2027 - Dec 16, 2027 @ Mellow Mushroom)</title>
      <link>https://shoplocalraleigh.org/events/cary/networking/business-owners-meetup-cary-nc/?gde=2027-12-16</link>
      <description>Cary, NC – FREE Business Owners Meetup Alert! Attention Business Owners &amp; Entrepreneurs! Mark your calendar for the 3rd Thursday of each month! You’re invited to a Business Owners Meetup designed just for you! Connect with like-minded professionals, forge high-quality connections, and discover incredible marketing opportunities to take your business to the next level. Details: When: 3rd Thursday of each Read more...</description>
      <guid>https://shoplocalraleigh.org/events/cary/networking/business-owners-meetup-cary-nc/?gde=2027-12-16</guid>
      <pubDate>Tue, 23 Dec 2025 17:44:23 -0500</pubDate>
      <enclosure type="image/jpeg" url="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAAABCAQAAACC0sM2AAAADklEQVR42mP8X88wLAAAK5IBgMYCdqgAAAAASUVORK5CYII="/>
    </item>
  </channel>
</rss>
